.education{
    background: #fdf7f191;
    border: 4px solid black;
    border-radius: 15px;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;
    margin: 1rem 0.5rem;
    transition: all 0.1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.education_title{
    color: #a00404;
    font-size: 1.5em;
}

.program{
  color: #130D6B;
  display: flex;
  gap: 5rem;
}

.learnings{
    padding-left: 2rem;
}

@media screen and (max-width: 900px) {
    .education{
        width: 100%;
    }
    .program{
        flex-direction: column;
        gap: 0;
    }
}