.filter_container {
    display: flex;
    gap: 1rem;
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter input[type=checkbox]:hover{
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    .filter_container{
        gap: 0.5rem;
        font-size: 1rem;
    }
}