.heading{
    color: #a00404;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
}

.main_ul{
    margin-left: 1.5rem;
}

.sub_ul{
    margin-left: 3rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    color: #130d6b;
    list-style: disc;
}

.sub_ul li{
    margin: 15px 0px;
}

.tags{
    display: flex;
    gap: 1rem;
}

.tag{
    background-color: #353535;
    color: white;
    font-size: 1rem;
    padding: 0 1rem;
}